<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<title>Feed</title>
<link rel="stylesheet" href="../assets/css/feed.css">
<link rel="stylesheet" href="../assets/css/geral.css">
 <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/logotitle.png">
</head>

<body>

<header>

    <img src="../assets/img/eco-certo.png" alt="EcoHub" class="logo">
  <nav>
<a href="inicio.html">inicio</a>
<a href="eventos.html">eventos</a>
<a href="noticias.html">notícias</a>
<a href="feed.html">feed</a>
<a href="projetos.html">projetos</a>
<a href="sobre.html">sobre</a>
<a href="cadastro.html">cadastro</a>
    <img src="../assets/img/perfil.jpg" alt="Perfil">
</a>
</nav>
</header>
</header>

<section class="feed-header">
  <h1>Feed</h1>
  <input type="text" placeholder="Buscar projetos, alunos ou tecnologias">
</section>

<section class="criar-post">
  <div class="foto"></div>
  <input type="text" placeholder="Compartilhe seu projeto ou conquista...">
  <button>Postar</button>
</section>

<section class="feed" id="feed">

  <p class="feed-vazio">
    Nenhuma postagem ainda.
  </p>

</section>


</body>
<footer class="footer">
  <div class="footer-content">
    
    <img src="../assets/img/logo2.eniac.png" alt="Logo" class="footer-logo">

    <p>
      © 2026 Ecossistema Academy. Todos os direitos reservados.
      Conectando estudantes e projetos reais.
    </p>

  </div>
</footer>
</html>
