<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../assets/css/geral.css">
      <link rel="stylesheet" href="../assets/css/inicio.css">
    <title>Document</title>

</head>
<body>
    <header>
    
      <img src="../assets/img/eco-certo.png" alt="EcoHub" class="logo">
  

<nav>
<a href="inicio.html">inicio</a>
<a href="eventos.html">eventos</a>
<a href="noticias.html">notícias</a>
<a href="feed.html">feed</a>
<a href="projetos.html">projetos</a>
<a href="sobre.html">sobre</a>
<a href="cadastro.html">cadastro</a>

<a href="perfil.html" class="link-perfil">
    <img src="../assets/img/perfil.jpg" alt="Perfil">
</a>
</nav>
</header>
<h1>Bem-vindo ao EcoHub</h1>
<div id="inicio">A plataforma que conecta alunos, projetos e eventos da Faculdade Eniac. Compartilhe suas conquistas, participe de eventos e faça parte da comunidade de inovação.</div>

    <section class="estatisticas">
    
    <div class="card">
        <div class="icone">👥</div>
        <h2>2.847</h2>
        <p>Alunos Ativos</p>
    </div>

    <div class="card">
        <div class="icone">✨</div>
        <h2>1.423</h2>
        <p>Projetos Publicados</p>
    </div>

    <div class="card">
        <div class="icone">📅</div>
        <h2>24</h2>
        <p>Eventos este Mês</p>
    </div>

    <div class="card">
        <div class="icone">📈</div>
        <h2>94%</h2>
        <p>Taxa de Empregabilidade</p>
    </div>

</section>
<h2>Últimas Notícias sobre o ENIAC</h2>
    
<section class="noticias">

    <div class="card-noticia">
        <img src="../assets/img/eco.png" alt="EcoHub" class="logo">
        <h3>site de noticias </h3>
          
        <p>Resumo pequeno da notícia...</p>
        <a id="noticia1" href="https://g1.globo.com" target="_blank">Ler mais</a>
    </div>
  
    <div class="card-noticia">
        <h3>a maior franquia do mundo </h3>
        <p>Resumo pequeno da notícia...</p>
        <a id="noticia1" href="https://www.pokemon.com/br" target="_blank">Ler mais</a>
    </div>
    <!-- usar div para criar caixas brancas iguais as das noticias  -->

    <div class="card-noticia">
         <h3>rainha do rock br</h3>
        <p>Resumo pequeno da notícia...</p>
        <a id="noticia1" href="https://pt.wikipedia.org/wiki/Rita_Lee" target="_blank">Ler mais</a>
    </div>

     <div class="card-noticia">
         <h3>musica boa</h3>
        <p>Resumo pequeno da notícia...</p>
        <a id="noticia1" href="https://www.youtube.com/watch?v=W_tFNaK4VcI&list=RDW_tFNaK4VcI&start_radio=1https://www.youtube.com/watch?v=W_tFNaK4VcI&list=RDW_tFNaK4VcI&start_radio=1" target="_blank">Ler mais</a>
    </div>

     <div class="card-noticia">
         <h3>faculdade </h3>
        <p>Resumo pequeno da notícia...</p>
        <a id="noticia1" href="https://cursos.cruzeirodosul.edu.br/graduacao?gclsrc=aw.ds&&utm_source=ads-google-search&utm_medium=paid-g-c&utm_campaign=marca_graduacao_conversao_vendas_Google_keywords_search_cruzeiroDoSul_ads&utm_term=cruzeiro%20do%20sul-e&utm_content=marca_keywords&gad_source=1&gad_campaignid=18439455747&gbraid=0AAAAAD7ZCsig5DQwwGLHtqOVP6qG2A_Jb&gclid=CjwKCAiAqprNBhB6EiwAMe3yhlnFN8zna0GVxFO5bZc3GcDE_sW3nrCW8O7wTMjtLg_BUnSkw6zDvRoCKTkQAvD_BwE " target="_blank">Ler mais</a>
    </div>

        <div class="card-noticia">
         <h3>chat</h3>
        <p>Resumo pequeno da notícia...</p>
        <a id="noticia1" href="https://chatgpt.com/c/69a6d1e5-4bc4-832d-bae5-3371e9eaa7ee" target="_blank">Ler mais</a>
    </div>


    
    
    

    
</section>
</body>
</html>
