<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="../assets/css/geral.css">
      <link rel="stylesheet" href="../assets/css/inicio.css">
       <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/logotitle.png">
    <title>Document</title>

</head>
<body>
    <header>

<img src="../assets/img/logohead.png" alt="EcoHub" class="logo">

<nav>
<a href="Inicio.html" class="ativo">Inicio</a>
<a href="Eventos.html">Eventos</a>
<a href="Noticias.html">Notícias</a>
<a href="Feed.html">Feed</a>
<a href="Projetos.html">Projetos</a>
<a href="Sobre.html">Sobre</a>
</nav>

<div class="header-direita">

<a href="Cadastro.html">Cadastro</a>

<button id="modo">🌙</button>

<a href="Perfil.html" class="link-perfil">
<img src="../assets/img/perfil.jpg" alt="Perfil">
</a>

</div>

</header>
<h1>Bem-vindo ao EcoHub</h1>
<div id="inicio">A plataforma que conecta alunos, projetos e eventos da Faculdade Eniac. Compartilhe suas conquistas, participe de eventos e faça parte da comunidade de inovação.</div>

    <section class="estatisticas">
    
    <div class="card">
        <div class="icone">👥</div>
        <h2>2.847</h2>
        <p>Alunos Ativos</p>
    </div>

  <a href="Projetos.html" class="card-link">
<div class="card">
    <div class="icone">✨</div>
    <h2>1.423</h2>
    <p>Projetos Publicados</p>
</div>
</a>
    <a href="calendario.html" class="card-link">
<div class="card">
    <div class="icone">📅</div>
    <h2>24</h2>
    <p>Eventos este Mês</p>
</div>
</a>

    <div class="card">
        <div class="icone">📈</div>
        <h2>94%</h2>
        <p>Taxa de Empregabilidade</p>
    </div>

</section>
<section class="titulo">
<h2>Últimas Notícias sobre o ENIAC</h2>
</section>
    
<section class="noticias">


<div class="card-noticia">
    <h3>faculdade </h3>
    <p>Resumo pequeno da notícia...</p>
    <a href="https://www.eniac.edu.br/" target="_blank">Ler mais</a>
</div>

<div class="card-noticia">
    <h3>maior franquia</h3>
    <p>Resumo pequeno da notícia...</p>
    <a href="noticias.html#noticia-chat">Ler mais</a>
</div>
 
 <!--  esta div abaixou e o que ta linkada  -->
<div class="card-noticia">
    <h3>rita lee </h3>
    <p>Resumo pequeno da notícia...</p>
    <a href="noticias.html#teste">ler mais</a>
</div>

<div class="card-noticia">
    <h3>musica boa</h3>
    <p>Resumo pequeno da notícia...</p>
    <a href="https://www.youtube.com/watch?v=W_tFNaK4VcI" target="_blank">Ler mais</a>
</div>

<div class="card-noticia">
    <h3>faculdade </h3>
    <p>Resumo pequeno da notícia...</p>
    <a href="https://www.eniac.edu.br/" target="_blank">Ler mais</a>
</div>

<div class="card-noticia">
    <h3>faculdade </h3>
    <p>Resumo pequeno da notícia...</p>
    <a href="https://www.eniac.edu.br/" target="_blank">Ler mais</a>
</div>





</section>
<footer class="footer">
    <div class="footer-content">
    <img src="../assets/img/logo2.eniac.png" alt="Logo" class="footer-logo">
        <p>  © 2026 Ecossistema Academy. Todos os direitos reservados.
      Conectando estudantes e projetos reais.</p>
    </div>
</footer>
<script>
if(localStorage.getItem("modo") === "dark"){
document.documentElement.classList.add("dark");
}
</script>

<script src="../js/inicio.js"></script>
<script src="../js/geral.js"></script>
</body>
</html>
