<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="css/geral.css">
    <title>Document</title>

</head>
<body>
    <header>
   
    <img src="eco.png" alt="EcoHub" class="logo">


<nav>
<a href="inicio.html">inicio</a>
<a href="eventos.html">eventos</a>
<a href="noticias.html">notícias</a>
<a href="perfil.html">perfil</a>
<a href="projetos.html">projetos</a>
<a href="sobre.html">sobre</a>
<a href="cadastro.html">cadastro</a>
<a href="login.html">login</a>
 </header>
</nav>
</body>
</html>