<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../assets/css/geral.css">
     <link rel="stylesheet" href="../assets/css/noticias.css">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/logotitle.png">
    <title>Noticia</title>
        
    <script>
if(localStorage.getItem("theme") === "dark"){
    document.documentElement.classList.add("dark-mode");
}
</script>
</head>
<body>
     <header>

<img src="../assets/img/logohead.png" alt="EcoHub" class="logo">

<nav>
<a href="Inicio.html" >Inicio</a>
<a href="Eventos.html">Eventos</a>
<a href="Noticias.html" class="ativo">Notícias</a>
<a href="Feed.html">Feed</a>
<a href="Projetos.html">Projetos</a>
<a href="Sobre.html">Sobre</a>
</nav>

<div class="header-direita">

<a href="Cadastro.html">Cadastro</a>

<button id="modo">🌙</button>

<a href="Perfil.html" class="link-perfil">
<img src="../assets/img/perfil.jpg" alt="Perfil">
</a>

</div>

</header>
 <section class="titulo">
 <h2>Principais notícias do eniac </h2>
 </section>
    <section class="noticias">

       
<div class="card-noticia">
     <img src="../assets/img/ecohub.png" alt="Imagem da notícia">
    <h3>ginkeniac</h3>

    <p class="resumo">
     saiba tudo sobre a ginkeniac, todos os times participantes, todos as contribuições que estamos arrecadando 
    </p>

    <!-- Tudo que vai expandir fica dentro dessa div -->
    <div class="conteudo-extra">
        <p>
           os principais timis da ginkeniac deste ano são o japão represnetado pelo ti 
        </p>

        <a href="https://exemplo.com" target="_blank" class="link-externo">
            Saiba mais no site oficial
        </a>
    </div>

    <a href="#" class="ler-mais">Ler mais</a>
</div>
<div class="card-noticia">
    <img src="../assets/img/ecohub.png" alt="Imagem da notícia">
    <h3>Chat</h3>

    <p class="resumo">
        Resumo pequeno da notícia...
    </p>

    <!-- Tudo que vai expandir fica dentro dessa div -->
    <div class="conteudo-extra">
        <p>
            Aqui fica o texto completo explicando melhor o assunto.
        </p>

        <a href="https://exemplo.com" target="_blank" class="link-externo">
            Saiba mais no site oficial
        </a>
    </div>

    <a href="#" class="ler-mais">Ler mais</a>
</div>
    <!-- usar div para criar caixas brancas iguais as das noticias  -->

        
<div class="card-noticia">
    <img src="../assets/img/ecohub.png" alt="Imagem da notícia">
    <h3>Chat</h3>

    <p class="resumo">
        Resumo pequeno da notícia...
    </p>

    <!-- Tudo que vai expandir fica dentro dessa div -->
    <div class="conteudo-extra">
        <p>
            Aqui fica o texto completo explicando melhor o assunto.
        </p>

        <a href="https://exemplo.com" target="_blank" class="link-externo">
            Saiba mais no site oficial
        </a>
    </div>

    <a href="#" class="ler-mais">Ler mais</a>
</div>





        
    <!-- teste esta funcionado porem arrumar para que ao clicar no inicio ele va para a altura certa da caixa  -->
<div class="card-noticia" id="teste">
    <img src="../assets/img/ecohub.png" alt="Imagem da notícia">
    <h3>teste</h3>

    <p class="resumo" >
        Resumo pequeno da notícia...
    </p>

    <div class="conteudo-extra"  >
        <p>
            teste
        </p>

        <a href="https://exemplo.com" target="_blank" class="link-externo">
          
        </a>
        <a href="noticias.html#teste"></a>
    </div>

    <a href="#" class="ler-mais">Ler mais</a>
</div>

         

<!-- div que esta linkada com o inicio -->

<div class="card-noticia" id="noticia-chat">
    <img src="../assets/img/ecohub.png" alt="Imagem da notícia">
    <h3>pokemon</h3>

    <p class="resumo">
        Resumo pequeno da notícia...
    </p>

    <div class="conteudo-extra">
        <p>
          se der certo vc sabera que pokemon e a maior franquia do mundo com mais de 90 bi por ano 
        </p>

        <a href="https://www.pokemon.com/br" target="_blank" class="link-externo">
            Saiba mais no site oficial
        </a>
    </div>

    <a href="#" class="ler-mais">Ler mais</a>
</div>









<div class="card-noticia">
    <img src="../assets/img/ecohub.png" alt="Imagem da notícia">
    <h3>Chat</h3>

    <p class="resumo">
        Resumo pequeno da notícia...
    </p>

    <!-- Tudo que vai expandir fica dentro dessa div -->
    <div class="conteudo-extra">
        <p>
            Aqui fica o texto completo explicando melhor o assunto.
        </p>

        <a href="https://exemplo.com" target="_blank" class="link-externo">
            Saiba mais no site oficial
        </a>
    </div>

    <a href="#" class="ler-mais">Ler mais</a>
</div>

<div class="card-noticia">
     <img src="../assets/img/ecohub.png" alt="Imagem da notícia">
    <h3>ginkeniac</h3>

    <p class="resumo">
     saiba tudo sobre a ginkeniac, todos os times participantes, todos as contribuições que estamos arrecadando 
    </p>

    <!-- Tudo que vai expandir fica dentro dessa div -->
    <div class="conteudo-extra">
        <p>
           os principais timis da ginkeniac deste ano são o japão represnetado pelo ti 
        </p>

        <a href="https://exemplo.com" target="_blank" class="link-externo">
            Saiba mais no site oficial
        </a>
    </div>

    <a href="#" class="ler-mais">Ler mais</a>
</div>

<div class="card-noticia">
     <img src="../assets/img/ecohub.png" alt="Imagem da notícia">
    <h3>ginkeniac</h3>

    <p class="resumo">
     saiba tudo sobre a ginkeniac, todos os times participantes, todos as contribuições que estamos arrecadando 
    </p>

    <!-- Tudo que vai expandir fica dentro dessa div -->
    <div class="conteudo-extra">
        <p>
           os principais timis da ginkeniac deste ano são o japão represnetado pelo ti 
        </p>

        <a href="https://exemplo.com" target="_blank" class="link-externo">
            Saiba mais no site oficial
        </a>
    </div>

    <a href="#" class="ler-mais">Ler mais</a>
</div>

<div class="card-noticia">
     <img src="../assets/img/ecohub.png" alt="Imagem da notícia">
    <h3>ginkeniac</h3>

    <p class="resumo">
     saiba tudo sobre a ginkeniac, todos os times participantes, todos as contribuições que estamos arrecadando 
    </p>

    <!-- Tudo que vai expandir fica dentro dessa div -->
    <div class="conteudo-extra">
        <p>
           os principais timis da ginkeniac deste ano são o japão represnetado pelo ti 
        </p>

        <a href="https://exemplo.com" target="_blank" class="link-externo">
            Saiba mais no site oficial
        </a>
    </div>

    <a href="#" class="ler-mais">Ler mais</a>
</div>

</section>

<footer class="footer">
  <div class="footer-content">
    
    <img src="../assets/img/logo2.eniac.png" alt="Logo" class="footer-logo">

    <p>
      © 2026 Ecossistema Academy. Todos os direitos reservados.
      Conectando estudantes e projetos reais.
    </p>

  </div>
  <script src="../js/noticias.js"></script>
  <script src="../js/geral.js"></script>
</footer>
</body>
</html>