<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../assets/css/geral.css">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
      <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/logotitle.png">
    <title>Document</title>
    
</head>
<body>
 <header class="topbar">
   <img src="../assets/img/eco-certo.png" alt="EcoHub" class="logo">
   <nav>
<a href="index.html">Inicio</a>
<a href="Eventos.html " >Eventos</a>
<a href="Noticias.html">Notícias</a>
<a href="Feed.html">Feed</a>
<a href="Projetos.html"class="ativo">Projetos</a>
<a href="Sobre.html">Sobre</a>
<a href="Cadastro.html">Cadastro</a>

<a href="Perfil.html" class="link-perfil">
    <img src="../assets/img/perfil.jpg" alt="Perfil">
</a>
</nav>
</header>
 <footer class="footer">
  <div class="footer-content">
    
    <img src="../assets/img/logo2.eniac.png" alt="Logo" class="footer-logo">

    <p>
      © 2026 Ecossistema Academy. Todos os direitos reservados.
      Conectando estudantes e projetos reais.
    </p>

  </div>
</footer>
</body>
</html>