<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../assets/css/geral.css">
    <title>Document</title>

</head>
<body>
    <header>
    
      <img src="../assets/img/eco-certo.png" alt="EcoHub" class="logo">


<nav>
<a href="inicio.html">inicio</a>
<a href="eventos.html">eventos</a>
<a href="noticias.html">notícias</a>
<a href="feed.html">feed</a>
<a href="projetos.html">projetos</a>
<a href="sobre.html">sobre</a>
<a href="cadastro.html">cadastro</a>
<a href="login.html">login</a>
<a href="perfil.html" class="link-perfil">
    <img src="../assets/img/perfil.jpg" alt="Perfil">
</a>
</nav>
 </header>
</body>
</html>