body {
   margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    padding: 300px;
    box-sizing: border-box; /* resolve o cálculo */
    background-color: #2788C8;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: black;
    text-align: center;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     width: 300px; 
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: white;
    border: 1px solid black;
    color:black;
}
input::placeholder {
    color: black;
}
input:focus {
    outline: none;
    border-color: #007bff;
}
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}
button[type="submit"] {
    background-color: #3B82F6;
    text-align: center;
}
button[type="submit"]:hover {
  background-color: #007bff;
  color: white;
}
button[type="button"]:hover {
  background-color: #ccc;
}
form {
    margin-top: 15px;
}
.troca-pagina {
    text-align: center;
    color: BLACK;
    margin-top: 10px;
}
.troca-pagina a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
.troca-pagina a:hover {
    text-decoration: underline;
}

#linha{text-align: center;
color: black;}
