/* BODY */

body{
margin:0;
background:#F4F7FB;
font-family:'Poppins', sans-serif;
}


/* CONTAINER */

.feed-container{
max-width:850px;
margin:40px auto;
padding:20px;
}


/* TITULO */

.feed-container h1{
margin-bottom:5px;
color:#0B2B4C;
}

.feed-container p{
margin-bottom:25px;
color:#6B7280;
}


/* BUSCA */

.search-area{
display:flex;
gap:10px;
margin-bottom:10px;
}

.search-area input{
flex:1;
padding:14px;
border-radius:12px;
border:1px solid #E5E7EB;
font-size:14px;
outline:none;
}

.search-area button{
width:45px;
border:none;
background:white;
border-radius:12px;
cursor:pointer;
box-shadow:0 2px 6px rgba(0,0,0,0.08);
}


/* POST */

.post{
background:white;
padding:25px;
border-radius:16px;
margin-top:30px;
box-shadow:0 6px 18px rgba(0,0,0,0.08);
transition:0.3s;
}

.post:hover{
transform:translateY(-4px);
box-shadow:0 10px 25px rgba(0,0,0,0.12);
}


/* HEADER POST */




/* TITULO POST */

.post h2{
font-size:20px;
margin:10px 0;
color:#0B2B4C;
}


/* TEXTO */

.post p{
color:#444;
line-height:1.6;
}


/* IMAGEM */

.post-img{
width:100%;
border-radius:14px;
margin-top:15px;
}


/* AÇÕES */

.post-actions{
display:flex;
gap:30px;
margin-top:18px;
color:#3BA3EC;
font-size:14px;
cursor:pointer;
}

.post-actions span{
transition:0.2s;
}

.post-actions span:hover{
color:#1E6EB7;
}