/* RESET */
html, body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
    padding-top: 80px; /* mesma altura do header */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
header {
    background: #051D40;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;      /* centraliza na altura */
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* LOGO */
header img {
    width: 200px;
    height: auto;
}

/* NAV */
nav{
    flex: 1;
    display: flex;
    justify-content: center;  /* links no meio da página */
    align-items: center;
    gap: 20px;
}

nav a.ativo{
    background-color: #2788C8;
}

header nav a{
    

    text-decoration: none;
    padding: 0px 14px;
    transition: 0.3s;
    background-color: #051D40;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-family: poppins, sans-serif;
}

nav a:hover {
    background-color: #2788C8;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* CONTEÚDO */
.conteudo {
    flex: 2;
    padding: 20px;
}


.link-perfil{
    margin-left: auto;  /* joga para a direita */
    display: flex;
    align-items: center;
}

.link-perfil img {
    display: block; /* Evita o espaço abaixo da imagem */
    border-radius: 100%; /* Torna a imagem redonda */
    position: relative; /* Posiciona a imagem normalmente */
     width: 35px;
    cursor: pointer;
      
}




/* footer */

.footer{
  background:#051D40;
  color:white;
  padding:20px 20px;
  margin-top: auto;
  font-family: 'Poppins', sans-serif;
}

.footer-content{
  max-width:1200px;
  margin:0 auto;
  text-align:center;
}

.footer-logo{
  height:50px;
  margin-bottom:20px;
  border-radius: 8px;
}

.footer p{
  font-size:14px;
  opacity:0.8;
}
.calmapae{
    color: #e4dddd;
}
