/* RESET */
html, body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
    padding-top: 80px; /* mesma altura do header */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
   
}

/* HEADER */
header {
    background: #051D40;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;      /* centraliza na altura */
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     position: fixed;
    z-index: 1000;
}
/* LOGO */
header img {
    width: 200px;
    height: auto;
}

/* NAV */
nav{
    flex: 1;
    display: flex;
    justify-content: center;  /* links no meio da página */
    align-items: center;
    gap: 20px;
}

nav a.ativo{
    background-color: #2788C8;
}

header nav a{
    

    text-decoration: none;
    padding: 0px 14px;
    transition: 0.3s;
    background-color: #051D40;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-family: poppins, sans-serif;
}

nav a:hover {
    background-color: #2788C8;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* CONTEÚDO */
.conteudo {
    flex: 2;
    padding: 20px;
}


.link-perfil{
    margin-left: auto;  /* joga para a direita */
    display: flex;
    align-items: center;
}

.link-perfil img {
    display: block; /* Evita o espaço abaixo da imagem */
    border-radius: 100%; /* Torna a imagem redonda */
    position: relative; /* Posiciona a imagem normalmente */
     width: 35px;
    cursor: pointer;
      
}




/* footer */

.footer{
  background:#051D40;
  color:white;
  padding:20px 20px;
  margin-top: auto;
  font-family: 'Poppins', sans-serif;
}

.footer-content{
  max-width:1200px;
  margin:0 auto;
  text-align:center;
}

.footer-logo{
  height:50px;
  margin-bottom:20px;
  border-radius: 8px;
}

.footer p{
  font-size:14px;
  opacity:0.8;
}
.calmapae{
    color: #e4dddd;
}
/* ===== PAGINA SOBRE ===== */

.container{
    max-width:1200px;
    margin:40px auto;
    padding:0 20px;
}

.hero{
    background:#051D40;
    color:white;
    padding:40px;
    border-radius:20px;
    margin-bottom:40px;
}

.hero h1{
    font-size:32px;
    margin-bottom:10px;
}

.hero p{
    line-height:1.6;
}

.section-title{
    font-size:24px;
    font-weight:700;
    margin-bottom:25px;
    color:#051D40;
}

/* GRID DOS HUBS */

.hubs-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:25px;
    margin-bottom:40px;
}

/* CARD HUB */



/* OBJETIVO */

.objetivo{
    background:white;
    padding:35px;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}
/* ===== EQUIPE ===== */

.equipe-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:25px;
    margin-bottom:50px;
}

.equipe-card{
    background:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
    transition:0.3s;
}

.equipe-card:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.equipe-card img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:15px;
}

.equipe-card h3{
    color:#051D40;
    margin-bottom:5px;
}

.equipe-card p{
    font-size:14px;
    color:#666;
}

/* RESET */
html, body {
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
    padding-top: 80px; /* mesma altura do header */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    background: #f4f4f4;
   
}

/* HEADER */
header {
    background: #051D40;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;      /* centraliza na altura */
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     position: fixed;
    z-index: 1000;
}
/* LOGO */
header img {
    width: 200px;
    height: auto;
}

/* NAV */
nav{
    flex: 1;
    display: flex;
    justify-content: center;  /* links no meio da página */
    align-items: center;
    gap: 20px;
}

nav a.ativo{
    background-color: #2788C8;
}

header nav a{
    

    text-decoration: none;
    padding: 0px 14px;
    transition: 0.3s;
    background-color: #051D40;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    font-family: poppins, sans-serif;
}

nav a:hover {
    background-color: #2788C8;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* CONTEÚDO */
.conteudo {
    flex: 2;
    padding: 20px;
}


.link-perfil{
    margin-left: auto;  /* joga para a direita */
    display: flex;
    align-items: center;
}

.link-perfil img {
    display: block; /* Evita o espaço abaixo da imagem */
    border-radius: 100%; /* Torna a imagem redonda */
    position: relative; /* Posiciona a imagem normalmente */
     width: 35px;
    cursor: pointer;
      
}




/* footer */

.footer{
  background:#051D40;
  color:white;
  padding:20px 20px;
  margin-top: auto;
  font-family: 'Poppins', sans-serif;
}

.footer-content{
  max-width:1200px;
  margin:0 auto;
  text-align:center;
}

.footer-logo{
  height:50px;
  margin-bottom:20px;
  border-radius: 8px;
}

.footer p{
  font-size:14px;
  opacity:0.8;
}
.calmapae{
    color: #e4dddd;
}
/* ===== PAGINA SOBRE ===== */

.container{
    max-width:1200px;
    margin:40px auto;
    padding:0 20px;
}

.hero{
    background:#051D40;
    color:white;
    padding:40px;
    border-radius:20px;
    margin-bottom:40px;
}

.hero h1{
    font-size:32px;
    margin-bottom:10px;
}

.hero p{
    line-height:1.6;
}

.section-title{
    font-size:24px;
    font-weight:700;
    margin-bottom:25px;
    color:#051D40;
}

/* GRID DOS HUBS */

.hubs-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    gap:25px;
    margin-bottom:40px;
}

/* CARD HUB */



.hub-card:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.hub-card h3{
    color:#051D40;
    margin-bottom:10px;
}

.hub-card p{
    font-size:14px;
    color:#555;
    line-height:1.5;
}

/* OBJETIVO */

.objetivo{
    background:white;
    padding:35px;
    border-radius:18px;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}
/* ===== EQUIPE ===== */

.equipe-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:25px;
    margin-bottom:50px;
}

.equipe-card{
    background:white;
    padding:20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
    transition:0.3s;
}

.equipe-card:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.equipe-card img{
    width:120px;
    height:120px;
    object-fit:cover;
    border-radius:50%;
    margin-bottom:15px;
}

.equipe-card h3{
    color:#051D40;
    margin-bottom:5px;
}

.equipe-card p{
    font-size:14px;
    color:#666;
}

/* ===== MODO ESCURO ===== */

body.dark{
    background: #121212;
    color: white;
}



/* seção estatísticas */
body.dark .estatisticas{
    background: #181818;
}

/* seção notícias */
body.dark .noticias{
    background: #181818;
}

/* cards */
body.dark .card{
    background: #2a2a2a;
    color: white;
}

body.dark .card-noticia{
    background: #1f1f1f;
    color: white;
}

/* textos */
body.dark .card p,
body.dark .card-noticia p{
    color: #ccc;
}

/* título */
body.dark .titulo{
    background: #053B5E;
}