h1 {
    color: white;
    text-align: center;
    background: linear-gradient(#2788C8, #31BADF);
   padding: 60px 20px;
   font-family: Arial, Helvetica, sans-serif;
     font-size: 40px; 
     margin: 5px 0;
}

#inicio{
      color: white;
    text-align: center;
    background: #31BADF;
  padding: 20px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px; /* aumenta aqui */
     line-height: 1.1;

}
h1, p {
    margin: 0;
}