body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F5FAFF;
}

/* NAVBAR */


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  cursor: pointer;
}

/* HEADER PERFIL */

/* eu tirei as margens para poder ficar na tela inteira o perfil e mostrar melhor a foto e as informações do usuário */
.perfil-header {

 background: linear-gradient(to bottom, #051D40, #053B5E);
  padding: 30px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: white;
}

.foto-perfil {
  width: 90px;
  height: 90px;
  background: white;
  border-radius: 50%;
}

.info-perfil h1 {
  margin: 0;
}

.bio {
  margin-top: 5px;
}

.stats {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

button {
  margin-top: 10px;
  background-color: #31BADF;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* TABS */

.tabs {
  max-width: 900px;
  margin: auto;
  display: flex;
  gap: 10px;
}

.tabs button {
  background-color: #EAF3F9;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

/* CONTEÚDO */

.conteudo-perfil {
  max-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.habilidades span {
  background-color: #2788C8;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
}


/* ===== MODO ESCURO ===== */

body.dark{
  background-color: #121212;
  color: white;
}

/* navbar */



/* perfil */

body.dark .perfil-header{
 background: linear-gradient(to bottom, #051D40, #053B5E);
}

/* foto */

body.dark .foto-perfil{
  background: #2a2a2a;
}

/* abas */

body.dark .tabs button{
  background-color: #2a2a2a;
  color: white;
}

/* conteúdo */

body.dark .conteudo-perfil{
  background: #1e1e1e;
}

/* habilidades */

body.dark .habilidades span{
  background-color: #0d5c8c;
}

/* botões */

body.dark button{
  background-color: #0d5c8c;
  color: white;
}